@import url(//fonts.googleapis.com/css?family=Bitter);


body{
    background-color: #7A7D7D;
    font-size: 30px;
    color: #F8F2DC;
}

#wrapper{
    height: 98vh;
    width: 95vw;
    overflow: hidden;
    position: relative;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding:2vh 2vw 2vh 2vw;
    box-sizing: border-box;
    background-color: #D64550;
}

.flex-column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

}
.flex-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.title{
    height: 90%;
    width:50%;
    align-self: center;
    box-sizing: content-box;
    overflow: hidden;
}

.text-box{
    font-family: "Bitter",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top:22%;
}

.text-box > h2 {
    font-size: 1.8em;
    margin-bottom:10%;
}

.text-box > h3{
    display:inline;
    font-size: 2.1em;
}

.text-box > h3 > span{
    color: #2C0703;
}
.typed-cursor{
    font-family: "Bitter",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.main{
    height:inherit;
    width:50%;
    align-self: center;
}
.data{
    height: 90%;
    padding: 5%;
    justify-content: center;
    
}

.profile{
    width: 400px;
    height: 100%;
    position: relative;
    background-color: #2C0703;
    border-radius: 25px;
    padding:5%;
    box-sizing: border-box;

}
.profile > img{
    display: block;
    width: 90%;
    height: auto;
    position: relative;
    left:5%;
    
    border-radius: 25px;
}
.profile > p{
    display: block;
    position: relative;
    top:2%;
    margin-bottom: 4%;
    left:12%;
    text-align: left;
    font-size: 0.8em;
    font-family: "Bitter",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contacts{
    position: relative;
    top:5%;
    left:2%;
}
.contacts > .row{
    display:block;
    position: relative;
    top:5%;
    left:26%;
}
.row > a{
    display:inline-block;
    position: relative;
    margin-top: 5%;
    margin-right: 6%;
    color:white;
}
.row > a:hover{
    color:#D64550;
}
.discord {
    position: relative;
    display: inline-block;
}
.discord .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.discord:hover + .tooltiptext{
    visibility: visible;
}
.ic-btn{
    margin-left: 1%;
    height:35px;
    align-self: center;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 50%;
    background-color:inherit;
}
.ic-btn:hover{
    background-color: grey;
}
.icon:focus,:active,:hover,::-moz-focus-inner{
    outline:0;
    border:0;
}
.footer{
    height:10%;
}




