@import url(//fonts.googleapis.com/css?family=Bitter);


body{
    background-color: #363737;
    font-size: 50px;
    color: #DCD4C7;
}

#wrapper{
    height: 98vh;
    width: 99vw;
    overflow: hidden;
    position: relative;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding:2vh 2vw 2vh 2vw;
    box-sizing: border-box;
    background-color: #363737;
}

.flex-column{
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    align-self: center;
}
.flex-row{
    display:flex;
    display: row nowrap;
    justify-content: space-evenly;
}
#top{
    width:inherit;
    height: 10%;
}



#profile{
    align-self: flex-start;
    height: 500%;
    width: 20%;
    box-sizing: border-box;
    padding-top: 2vh;
    padding-left: 1.7vw;
    padding-right:1.7vh;
    background-color: #0B0B0B;
    border-radius: 25px;
}

#profile-picture{
    width: 80%;
    height: 80%;
    align-self: center;
    position: relative;
    border-radius: 25px;
}

.profile-container{
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    text-align: left;
    font-family: "Bitter", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.5em;
    font-weight: 500;
}

.nickname{
    font-size:0.8em;
    margin-top: 10px;
    color: #CC2C23;
    display: block;
}

.location{
    flex-shrink:;
    text-align: left;
    font-size: 0.9em;
}



#header{
    height:inherit;
    width: 80%;
    box-sizing: border-box;
}

#menu{
    height:80%;
    width: inherit;
}

#footer{
    height: 10%;
    width: inherit;
}




