<!DOCTYPE html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/reset.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="static/mystyle.css">
<script type="text/javascript" src="/static/javascript/jquery.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@latest/lib/typed.min.js"></script>
</head>

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}
</html>