{% extends 'base.html' %}

{% block content %}

<body>
    <div id="wrapper" class="flex-row">
        <div class="title">
            <div class=text-box>
                <h2>Nastasa Stefan</h2>
                <h3>A junior developer \n <span>in love with innovation.</span></h3>
            </div>
        </div>
        <div class="main flex-column">
            <div class="data flex-row">
                <div class="profile"></div>
                <button type="button" class="ic-btn">
                    <i class="material-icons icon" >navigate_next</i>
                </button>
            </div>
            <div class="footer"></div>
        </div>
    </div>
</body>
{% endblock %}