<!DOCTYPE html>
<html lang=en>
  <html>
    <title>Nastasa Stefan</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/reset.css">
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Work+Sans&Balsamiq+Sans">
    <script src="https://kit.fontawesome.com/f2fd4830e1.js" crossorigin="anonymous"></script>
    
  </head>
  <body>
    <div class="wrapper">
      <div class="top">
        <h1>Nastasa Stefan</h1>
        <p class="quote">“There are no beautiful surfaces without a terrible depth.“ </p>
        <p class="author">-Friedrich Nietzsche</p>
        <img class="picture" style="border-radius:10px;" src="static/profile_pic (1).jpg">
      </div>
      <div class="bot">
        <div class="mosaic">
          <div class="card">
            <a class="icon" href="https://github.com/RedPipper" title="Github"><i class="fa fa-github fa-2x"></i></a>
          </div>

          <div class="card">
            <a class="icon" href="https://www.instagram.com/stefannastasa/" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a>
          </div>
          <div class="card">
            <a class="icon"><i class="fa fa-envelope fa-2x"></i></a>
          </div>
          <div class="card details">
            <p style="margin-bottom:3%;"><i class="far fa-user-circle"></i> RedPipper</p>
            <p style="margin-left:2.5%;"> <i class="fas fa-map-marker-alt"></i> Romania</p>
          </div>
          <div class="card">
            <a class="icon" href="https://www.messenger.com/t/StefnaNatsasa" title="Messenger"><i class="fab fa-facebook-messenger fa-2x"></i></a>
          </div>
          <div class="card">
            <a class="icon"  href="https://www.linkedin.com/in/%C8%99tefan-nastas%C4%83-85619919b/" title="Linked-In"><i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
          <div class="card">
            <a class="tooltip icon"><i class="fab fa-discord fa-2x"></i><span class="tooltip-text">Black#2373</span></a>
          </div>
          {% for project in data %}
          <a class=repo style="text-decoration: none;" href="{{project.url}}" title="Repo">
            <div class="card project" >  
              <p class="name">
                {{project.name}}
              </p>
              <p class="description">
                {{project.description}}
              </p>
              <p class="language">
                <i class="fas fa-code"></i> {{project.language}}
              </p>
              <p class="interactions">
                <i class="fas fa-code"></i>{{project.stars}}    <i class="fas fa-code-branch"></i>{{project.forks}}
              </p>
            </div>
          </a>
          
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
