{% extends 'base.html' %}

{% block content %}

<body>
    <div id="wrapper" class="flex-row">
        <div class="title">
            <div class=text-box>
                <h2>Nastasa Stefan</h2>
                <h3 id=typer></h3>
                <!--<h3>A junior developer \n <span>in love with innovation.</span></h3> -->
            </div>
        </div>
        <div class="main flex-column">
            <div class="data flex-row" >
                <div class="profile">
                    <img src="/static/images/profile_pic.jpg" alt="Profile Picture">
                    <p>Nastasa Stefan</p>
                    <p style="font-size: 0.7em;color: #D64550 ; font-weight: 800;">@RedPipper</p>
                    <p> <i class="material-icons icon">room</i> Iasi, Romania</p>
                    <p>Where can I be found?</p>
                    <div class="contacts">
                        <div class="row">
                            <a href="https://github.com/RedPipper" title="Github"><i class="fa fa-github fa-2x"></i></a>
                            <a href="https://www.instagram.com/stefannastasa/" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a>
                        </div>
                        <div class="row">
                            <a><i class="fa fa-envelope fa-2x"></i></a>
                            <a href="https://www.messenger.com/t/StefnaNatsasa" title="Messenger"><i class="fab fa-facebook-messenger fa-2x"></i></a>
                        </div>
                        <div class="row">
                            <a href="https://www.linkedin.com/in/%C8%99tefan-nastas%C4%83-85619919b/" title="Linked-In"><i class="fab fa-linkedin-in fa-2x"></i></a>
                            <a class=tooltip><i class="fab fa-discord fa-2x"></i><span class="tooltip-text">Black#2373</span></a>
                        </div>
                    </div>
                </div>
                <button type="button" class="ic-btn " onclick="toggleAnimation()">
                    <i class="material-icons icon" >navigate_next</i>
                </button>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block scripts %}
<script type="text/javascript"src="/static/javascript/index.js"></script>
{% endblock %}